<!DOCTYPE html>
<html lang="en">
 <link href="C:\Users\hp\OneDrive\Desktop\softwares\bootstrap-5.3.8-dist\bootstrap-5.3.8-dist\css\bootstrap.min.css" rel="stylesheet" />
<script src="C:\Users\hp\OneDrive\Desktop\softwares\bootstrap-5.3.8-dist\bootstrap-5.3.8-dist\js\bootstrap.bundle.min.js"></script>


<body>
    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
