
<body style="background-color: #e7cade;">

<h1 style="text-align: center;">Quiz Completed: @ViewBag.Score / @ViewBag.TotalScore</h1>

<div style="text-align: center;">
  <a asp-controller="Quiz" asp-action="Index" 
     class="btn btn-primary" 
     style="background-color:#ff8080; color: black;">
     Try again
  </a>
</div>

</body>